Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
.vs/
.gradle/
*.log
*.apk
*.aab
*.unitypackage
*.DotSettings.user
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*
crashlytics-build.properties
InitTestScene*.unity*
/ServerData
/Assets/StreamingAssets/aa*
/Assets/AddressableAssetsData/link.xml*
/Assets/Addressables_Temp*
/Assets/AddressableAssetsData/*/*.bin*
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
/Assets/InitTestScene*.unity*
